{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Create an Event</h1>

<form action="/event_created" method="POST">
<label>Choose event category</label>
    <div class="dropdown">
    <select name="category">
    <option value="music">Music</option>
    <option value="food">Food And Drink</option>
    <option value="art">Art</option>
    </select>
    </div>
    
    <div class="form-group">
        <label>
            Enter Your Event Title:
            <input type="text" name="title" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Event Location:
            <input type="text" name="address" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Event Date:
            <input type="text" name="date" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Event Time:
            <input type="text" name="time" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Add">
    </div>

</form>
</div>
{% endblock %}