{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 75px">
<div class="well spaced" style="width:40%; margin: auto">


<form action="/create_event" method="POST">
    
    <div class="form-group">
    <div class="col-sm-4">
    <label>
            Event Title:
    </label>
    </div>
    <div class="col-sm-8">
    <input type="text" name="title" class="form-control">
    </div>    
    </div>
    <br><br>
   <div class="form-group">
   <div class="col-sm-4">
     <label>
            Event Time: 
     </label> 
    </div>
    <div class="col-sm-8">
     
    <input type="datetime-local" name="time" class="form-control">
    </div>
   
    </div>
    <br><br>
    <div class="form-group">
    <div class="col-sm-4">
        <label>
            Address:
        </label>
        </div>
        <div class="col-sm-8">
            <textarea name="address" class="form-control"></textarea>
    </div>
    </div>
    <br><br><br>
    <div align="center" class="form-group">
    
        <input type="submit" value="Add" class="btn-sm btn-success">
    </div>
    </div>

</form>
</div>
</div>
{% endblock %}