{% extends 'base.html' %} {% block content %}
<script type="text/javascript" src="/static/dashboard.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css"/>

<div class="container" style="margin-top: 75px">
  <h4>Welcome {{ user.email }}</h4>

    <div>
    <h3 align="center">Saved Events</h3>
    <ul id="gallery">
      {% for event in saved_events %}
      <div class="well" style="overflow: auto">  
       <div class="col-sm-4">
           <img src = "{{ event.picture }}" style="width: 100%; height: 200px">
       </div> 
       <div class="col-sm-8">
        <p><b>{{ event.title }}</b></p>
        
          <p>{{event.date}}</p>
          <p>{{event.address}}</p>
          <div>
            <form action="/twilio/{{ event.event_id }}" method="POST">
              <div class="col-sm-4">
                <input type="text" id="input-twilio-box" name="phone" class="form-control" placeholder="666-777-8888" />
              </div>
              <div class="col-sm-4">
                <input type="submit" value="Text me a reminder" class="btn btn-success btn-block form-control" />
              </div>
            </form>
            <div class="col-sm-4">
              <button class="btn btn-block btn-primary" id="{{ event.event_id }}" onclick="emailReminder({{ event.event_id }})">Email me a reminder</button>
            </div>
          </div> 
       </div>
          
        </div>
      {% endfor %}
    </ul>
  </div>
  <br>
  <div>
  <h3 align="center">List of organized events</h3>
 
    <ul>
      {% for event in organized_events %}
      <div class="well">
        <p>{{ event.title }}</p>
        <p>{{event.date}}</p>
        <p>{{event.address}}</p>
        </div>
      {% endfor %}
    </ul>
    </div>
  </div>
{% endblock %}