{% extends 'base.html' %}
{% block content %}
	
    	<h1>Welcome to Events Page</h1>
	
    <h2>Search for Events</h2>
  <form action="/event_result" method="GET">

        <div class="form-group">
            <label>Search by location:
                <input type="location" name="address"  class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Search by date:
                <input type="date" name="date"  class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="form-control">
        </div>

    </form>

<div>
    <h3>Login</h3>
    <form action="/login">

        <div class="form-group">
            <label>Email:
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit">
        </div>

    </form>
</div>
</div>
<div class="well spaced" style="width:40%;">

<h3>Register</h3>

<form action="register" method="POST">

    <div class="form-group">
    <label>
            Firstname
            <input type="firstname" name="firstname" class="form-control">
        </label><br>
        <label>
            Lastname
            <input type="lastname" name="lastname" class="form-control">
        </label><br>

        <label>
            Email
            <input type="email" name="email" class="form-control">
        </label><br>
   
        <label>
            Password
            <input type="password" name="password" class="form-control">
        </label><br>

        <label>
            Phone
            <input type="phone" name="phone" class="form-control">
        </label><br>
        <label>
            Zipcode
            <input type="text" name="zipcode" class="form-control">
        </label><br>
    
        <input type="submit" value="Register" class="btn btn-danger">
    </div>

</form>
</div>


{% endblock %}