{% extends 'base.html' %}
{% block content %}
	
    
  <form action="/event_result" method="GET">
       
            <legend>Search for Events</legend>
            <div class="form-group">
            <label for name="bylocation">Search by location:</label>
            <input type="location" name="address"  class="form-control">
                
            </div>

            <div class="form-group">
            <label for="bydate">Search by date:</label>
            <input type="date" name="date"  class="form-control">
                
            </div>

            <div class="form-group">
                <button type="submit" class="form-control">Search</button>
            </div>

            </form>
        

    <form action="/login">
    <legend>Login</legend>
        <div class="form-group">
            <label for name="email">Email:</label>
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label for name="password">Password:</label>
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Login">
        </div>

     </form>

        <form action="register" method="POST">
        <legend>Register</legend>
        <div class="form-group">
        <label for name="firstname">Firstname:</label>
            <input type="firstname" name="firstname" class="form-control">
        <br>
        <label for name="lastname">Lastname:</label>
            <input type="lastname" name="lastname" class="form-control">
        <br>

        <label for name="emailad">Email:</label>
            <input type="email" name="email" class="form-control">
        <br>
   
        <label for name="password">Password:</label>
            <input type="password" name="password" class="form-control">
        <br>

        <label for name="phone">Phone:</label>
            <input type="phone" name="phone" class="form-control">
        <br>
        <label for name="zip">Zipcode:</label>
            <input type="text" name="zipcode" class="form-control">
        <br>
    
        <input type="submit" value="Register" class="btn btn-danger">
        </div>

        </form>



{% endblock %}